<form [formGroup]="searchForm">
  <mat-form-field appearance="outline">
    <mat-label>Employees</mat-label>
    <input matInput formControlName="valueToSearch">
    <mat-icon matSuffix>person_outline</mat-icon>
    <mat-hint>Search by anything</mat-hint>
  </mat-form-field>
</form>
<app-employee-list [employees]="employees$ | async" [searchForm]="{group:searchForm, controlName:'valueToSearch'}"></app-employee-list>

<button class="add-employee" mat-stroked-button><i class="material-icons">add</i> Add new employee</button>
